@import "/src/scss";

.root {
  display: flex;
  justify-content: center;
  background-color: $secondary-color;
}

.container {
  @extend %container;
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.skeleton {
  display: grid;
  grid-template-columns: 10fr 3fr;
  gap: 10px;
}
