@import "/src/scss";

.root {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: $secondary-color;
  padding: 6px 9px 6px 7px;
  margin-left: 20px;
  border-radius: 5px;
  max-width: 300px;
  width: 100%;

  @media (max-width: 750px) {
    max-width: 200px;
  }

  @media (max-width: 500px) {
    max-width: none;
  }
}

.input {
  width: 100%;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  border: none;
  &::placeholder {
    color: rgba(black, 0.35);
  }

  &:focus {
    outline: none;
  }
}

.icon {
  width: 1.1rem;
  height: 1.1rem;
  margin-left: 2px;
  opacity: 0.25;
}

.clearIconButton {
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: 2px;
  border: 0;
  background: transparent;

  &:focus {
    outline: none;
  }

  &:focus .clearIcon {
    opacity: 1;
  }
}

.clearIcon {
  width: 1.1rem;
  height: 1.1rem;
  opacity: 0.25;

  &:hover {
    opacity: 1;
  }
}
