@import "/src/scss/";

.root {
  margin-top: 10px;
  display: grid;
  grid-gap: 5px;
}

.listItem {
  @media (max-width: 430px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.title {
  opacity: $white-opacity;
}
