@import "/src/scss/";

.root {
  display: grid;
  grid-gap: 5px;
  align-content: start;
}

.listItem {
  display: flex;
  align-items: center;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.title {
  margin-left: 5px;
  opacity: $white-opacity;
}
