@import "/src/scss/";

.root {
  display: grid;
  grid-gap: 5px;
  align-content: start;

  @media (max-width: 430px) {
    margin-top: 10px;
    grid-template-columns: 1fr 1fr;
  }
}

.listItem {
  display: flex;
  align-items: center;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;

  @media (max-width: 430px) {
    display: none;
  }
}

.title {
  margin-left: 5px;
  opacity: $white-opacity;

  @media (max-width: 430px) {
    margin-left: 0;
  }
}
