@import "/src/scss";

.root {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background-color: $secondary-color;
  background-position: top;
  background-size: cover;
}

.container {
  @extend %container;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 330px), 1fr));
  column-gap: 30px;
  row-gap: 15px;
}

.separator {
  height: 15px;
  background-color: $primary-color;
}
