@import "/src/scss";

.root {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background-color: $secondary-color;
  background-position: center;
  background-size: cover;

  .container {
    @extend %container;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
  }
}
