@import "/src/scss";

.root {
  @extend %currentWeatherWindow;
}

.weatherInfo {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
}
