@import "/src/scss";

.root {
  @extend %currentWeatherWindow;
}

.weatherInfo {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;

  @media (max-width: 430px) {
    grid-template-columns: 1fr;
  }
}
