@import "/src/scss";

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: $primary-color;

  .container {
    @extend %container;
    display: flex;
    align-items: center;
  }
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;

  .logoImage {
    width: 2.5rem;
    height: 2.5rem;
  }

  .title {
    font-size: 1.6rem;
    margin-left: 5px;
  }
}
