@import "/src/scss/";

.root {
  display: grid;
  grid-template-columns: auto 1fr;
  padding-bottom: 5px;
  border-bottom: 3px solid $secondary-color;
}

.date {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.day {
  font-size: 3rem;
  line-height: 80%;
}

.month {
  margin-left: 5px;
  opacity: $black-opacity;
}

.weather {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: end;
  column-gap: 15px;
  row-gap: 5px;
  align-items: center;

  @media (max-width: 850px) {
    grid-template-columns: auto;
  }
}

.title {
  opacity: $black-opacity;
}
